* {
    
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    margin: 0px;
    background-color: #181818;
    scroll-behavior: smooth;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
    height: 80px;
    width: 100%;
}

.heading {
    font-family: 'Oswald', sans-serif;
    color: red;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    /* text-transform: uppercase; */
}

.menu-options {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#tickbtn {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 862px) {
    .menu-options {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #181818;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #030507;
    }
    #tickbtn:checked~ul {
        left: 0;
    }

    .content-2{
        display: grid;
        grid-gap:2em;
        margin: 2rem 9.5rem 2rem 9.5rem;
        justify-content: center;
    }

}

#banner {
    background-image: url(./imgs/rsz_tim-mossholder-fh3nwjvia-u-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a.nav-link {
    color: #d3c29b;
    text-decoration: none;
    position: relative;
    font-size: 18px;
}

a.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #95a5a6;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

#heading1{
    padding:2em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 35px;
}

.container {
    margin:0 auto;
    text-align: center;
    color: #d3c29b;
}

.content-1{
    line-height: 2rem;
    justify-content: center;
}

.content-1 > h3{
    font-size: xx-large;
}

.content-1 > img{
    height: 40vh;
    width:60vw;
    margin-top: 4em;
    margin-bottom: 2em;
    border-radius: 12px;
}

#gallary-heading{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: xx-large;
}

.content-1 > p{
    margin-left:5rem;
    margin-right:5rem;
    font-size: 20px;
}

.content-2{
    display: grid;
    justify-content: center;
}

.img-item{
    height: 65vh;
    width: 45vw;
    border: 2px solid #d3c29b;
}

@media (min-width: 862px){

    .content-1 > img{
        height: 55vh;
        width:50vw;
    }

    .content-1 > p{
        margin-left:10rem;
        margin-right:10rem;
    }
    
    .content-2{
        
        grid-gap:2em;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2rem 9.5rem 2rem 9.5rem;
        
    }
    
    .img-item{
        height: 60vh;
        width: 22vw;
    }
}

.main {
    min-height: 100%;
}

.footer {
    background-color: black;
    color: #d3c29b;
    height: 400px;
    position: relative;
    
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    margin: 1px;
    margin: red;
    padding: 25px;
}

.footer .footer-content .about h2 span {
    color: red;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #d3c29b;
}

.footer .footer-content .links ul a:hover {
    margin-left: 10px;
    text-decoration: none;
    color: red;
    transition: all 0.5s;
}

.footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5em; 
    padding: 0.7em 1.2rem;
    border: none;
}

.btn {
    padding: 0.5rem 1rem;
    background: red;
    color: #d3c29b;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn:hover {
    color: rgb(146, 3, 3) !important;
    background-color: rgb(194, 127, 127);
}

.footer .footer-content .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.logo-text {
    font-family: 'Oswald', sans-serif;
}

.social {
    color: #95a5a6;
}

.footer .footer-fix {
    background-color: rgb(29, 25, 25);
    color: #d3c29b;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}